VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=deadbb-2d5a8.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://deadbb-2d5a8-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=deadbb-2d5a8
VITE_FIREBASE_STORAGE_BUCKET=deadbb-2d5a8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1056561339291
VITE_FIREBASE_APP_ID=1:1056561339291:web:dead2698f85ad9875bdf3e
VITE_FIREBASE_MEASUREMENT_ID=G-ZDKPF5W6D4
